body {
  color: rgb(175, 204, 175);
  background-color: green;
}

.container {
  width: auto;
  padding: auto;
  background-color: brown;
  border-radius: auto;
  box-shadow: 0 0 15px 3px;
}

.container2 {
  width: auto;
  padding: auto;
  background-color: brown;
  border-radius: auto;
  box-shadow: 0 0 15px 3px;
}

.container3 {
  width: auto;
  padding: auto;
  background-color: brown;
  border-radius: auto;
  box-shadow: 0 0 15px 3px;
}

.container4 {
  width: auto;
  padding: auto;
  background-color: brown;
  border-radius: auto;
  box-shadow: 0 0 15px 3px;
}

.container5 {
  width: auto;
  padding: auto;
  background-color: brown;
  border-radius: auto;
  box-shadow: 0 0 15px 3px;
}

.btn:hover {
  border-color: chocolate;
}